.venv
.env
__pycache__
*.pyc
*.sqlite3
node_modules
*/migrations/
backend/settings.py
backend

frontend/vite.config.ts
frontend/src/components/auth/login.tsx
frontend/src/components/auth/register.tsx

frontend/src/lib/api.ts
frontend/src/lib/apiCreateProduct.ts
frontend/src/lib/apiCreateTeache.ts