/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.circular-text {
  position: relative;
  width: 350px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circular-text img {
  border-radius: 50%;
  object-fit: cover;
  width: 85%;
  height: 85%;
}

.circular-text .text-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: rotate 10s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.circular-text .text-container span {
  position: absolute;
  font-size: 1.5rem;
  transform-origin: center center;
}

.circle-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 0 0;
  white-space: nowrap;
}

.circle-text:nth-child(1) { transform: rotate(0deg) translateX(150px); }
.circle-text:nth-child(2) { transform: rotate(15deg) translateX(150px); }
.circle-text:nth-child(3) { transform: rotate(30deg) translateX(150px); }
.circle-text:nth-child(4) { transform: rotate(45deg) translateX(150px); }
.circle-text:nth-child(5) { transform: rotate(60deg) translateX(150px); }
.circle-text:nth-child(6) { transform: rotate(75deg) translateX(150px); }
.circle-text:nth-child(7) { transform: rotate(90deg) translateX(150px); }
.circle-text:nth-child(8) { transform: rotate(105deg) translateX(150px); }
.circle-text:nth-child(9) { transform: rotate(120deg) translateX(150px); }
.circle-text:nth-child(10) { transform: rotate(135deg) translateX(150px); }
.circle-text:nth-child(11) { transform: rotate(150deg) translateX(150px); }
.circle-text:nth-child(12) { transform: rotate(165deg) translateX(150px); }
.circle-text:nth-child(13) { transform: rotate(180deg) translateX(150px); }
.circle-text:nth-child(14) { transform: rotate(195deg) translateX(150px); }
.circle-text:nth-child(15) { transform: rotate(210deg) translateX(150px); }
.circle-text:nth-child(16) { transform: rotate(225deg) translateX(150px); }
.circle-text:nth-child(17) { transform: rotate(240deg) translateX(150px); }
.circle-text:nth-child(18) { transform: rotate(255deg) translateX(150px); }
.circle-text:nth-child(19) { transform: rotate(270deg) translateX(150px); }
.circle-text:nth-child(20) { transform: rotate(285deg) translateX(150px); }
.circle-text:nth-child(21) { transform: rotate(300deg) translateX(150px); }
.circle-text:nth-child(22) { transform: rotate(315deg) translateX(150px); }
.circle-text:nth-child(23) { transform: rotate(330deg) translateX(150px); }
.circle-text:nth-child(24) { transform: rotate(345deg) translateX(150px); }
